<?xml version="1.0" ?>
<settings version="1">
	<section id="pvr.waipu">
		<category id="credentials" label="30001" help="">
			<group id="1" label="">
				<setting id="username" type="string" label="30002" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30002</heading>
					</control>
				</setting>
				<setting id="password" type="string" label="30003" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30003</heading>
						<hidden>true</hidden>
					</control>
				</setting>
				<setting id="provider_select" type="integer" label="30008"
					help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30009">0</option>
							<option label="30010">1</option>
						</options>
					</constraints>
					<control type="spinner" format="string" />
				</setting>
			</group>
			<group id="2" label="">
				<setting id="install_widevine" type="string" label="30007"
					help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunScript(script.module.inputstreamhelper,widevine_install)
						</data>
					</control>
					<dependency type="visible" operator="!is"
						setting="system.platform.android">true</dependency>
				</setting>
				<setting id="run_is_info" type="string" label="30006" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunScript(script.module.inputstreamhelper,info)</data>
					</control>
					<dependency type="visible" operator="!is"
						setting="system.platform.android">true</dependency>
				</setting>
			</group>
		</category>
		<category id="misc" label="30005" help="">
			<group id="3" label="">
				<setting id="protocol" type="string" label="30004" help="">
					<level>2</level>
					<default>MPEG_DASH</default>
					<constraints>
						<options sort="ascending">
							<option label="MPEG_DASH">MPEG_DASH</option>
							<option label="HLS">HLS</option>
						</options>
						<allowempty>false</allowempty>
					</constraints>
					<control type="spinner" format="string" />
				</setting>
			</group>
		</category>
	</section>
</settings>