<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="37201">
		<setting id="username" type="text" label="37202" default="" />
		<setting id="password" type="text" option="hidden" label="37203" default="" />
		<setting type="sep"/>
		<setting label="37204" type="labelenum" id="protocol" values="MPEG_DASH|HLS" default="MPEG_DASH" />
	</category>
</settings>
